<script type="text/javascript" src="http://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuOP"> </script>
<img src="http://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuXW">

@model CarriageOKie.Models.PopularSongsViewModel

@{
    ViewData["Title"] = "Lyrics";
}

<ul class="list-group">


    @for (int idx = 0; idx < Model.PopularSongsList.Count; idx++)
    {

        @Html.HiddenFor(x => Model.PopularSongsList[idx].ID)

        <li class="list-group-item"> @Html.DisplayFor(x => Model.PopularSongsList[idx].SongName, new { value = Model.PopularSongsList[idx].SongName })</li>
        @Html.HiddenFor(x => Model.PopularSongsList[idx].SongName)


    }
</ul>
    <button class="btn btn-primary" id="btnSave">Sing</button>
<div id="lyrics">
</div>

