@model PopularSongViewModel

@{
    ViewData["Title"] = "Lyrics";
}

<h2>And the chosen one is...</h2>

@if (Model.Favourite == Model.Song)
{
    <p>
        You chose <b>@Model.Song</b> which is currently most in demand in your train carriage.<br/> If you'd like to sing it please click Lyrics button to get lyrics for the song.
    </p>
}
else
{
    <p>
        You chose <em>@Model.Song</em> but the current favourite in your train carriage is <b>@Model.Favourite</b>.<br/> If you'd like to sing it please click Lyrics button to see the lyrics for the song.
    </p>
}

<button class="btn btn-primary" id="toggleLyrics">Lyrics</button>
<div id="lyrics">
    <p>
        @foreach (var line in Model.Lyrics)
        {
            @line<br/>
        }
    </p>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $('#lyrics').hide();
            
            $('#toggleLyrics').click(function() {
                $('#lyrics').toggle();
            });
        });
    </script>
}

